<div>
    <form ng-submit="model.create()" role="form" name="form">
        <div class="form-group">
            <label for="nit">Nit</label>
            <input type="text" class="form-control" id="nit" placeholder="Introduce el nit" ng-model="model.nit" required>
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Introduce el nombre" ng-model="model.name" required>
        </div>
        <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" placeholder="Introduce la dirección" ng-model="model.address" required>
        </div>
        <div class="form-group">
            <label for="phone">Teléfonos</label>
            <input type="text" class="form-control" id="phone" placeholder="Introduce los teléfonos" ng-model="model.phones" title="telefonos separados por coma (,)"
                required>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Guardar</button>
        </div>
        <hr>
        <!--<div class="alert alert-success ">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> {{model.message}}
        </div>-->
        <div data-ng-show="model.showError" ng-class="{fade:model.doFade}" class="alert alert-success"><strong>Success:</strong> {{model.message}}</div>
    </form>
</div>