<div>

    <table class="table">
        <tr>
            <th>Nit</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phones</th>
            <th></th>
        </tr>
        <tr ng-repeat="company in model.companies">
            <td>{{company.nit}}</td>
            <td>{{company.name}}</td>
            <td>{{company.address}}</td>
            <td>{{company.phones}}</td>
            <td>
                <div class="btn-group">
                    <buton class="btn btn-default" ng-link="['New']">
                        <span class="glyphicon glyphicon-plus"></span>
                    </buton>
                    <buton class="btn btn-default" ng-click="model.editCompany(company)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </buton>
                    <buton class="btn btn-default" ng-click="model.removeCompany(company.nit)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </buton>
                </div>
            </td>
        </tr>
    </table>
    <hr>
    <form ng-submit="model.updateCompany()" role="form" name="form" class="form-inline">
        <div class="form-group">
            <label for="nit">Nit</label>
            <input type="text" class="form-control" id="nit" placeholder="nit" ng-model="model.company.nit" disabled>
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="nombre" ng-model="model.company.name" required>
        </div>
        <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" placeholder="dirección" ng-model="model.company.address" required>
        </div>
        <div class="form-group">
            <label for="phones">Teléfonos</label>
            <input type="text" class="form-control" id="phones" placeholder="teléfonos" ng-model="model.company.phones" required>
        </div>
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Guardar</button>
    </form>
</div>