<div class="container">
    Administración de compañias de la app de Libranzas
    <br>
    <div>
        Power by
        <h1>Vision Software</h1>
    </div>

    <hr>
    <footer>
        <h3>Digital Media Rights</h3>
        <p>Digital Media Rights es un registro privado de derechos de autor especializado en la protección del copyright en
            Internet y otros soportes digitales.</p>
    </footer>
</div>