<div>
    <h2>Lista de solicitudes de crédito sin aprobar:</h2>
    <hr>
    <form ng-submit="model.getRequestByCompany()" role="form" name="form" class="form-inline">
        <label for="idCompany">Filtrar por nit de la compañia</label>
        <input type="text" class="form-control" id="idCompany" placeholder="nit" ng-model="model.request.companyId" required>
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Filtrar</button>
    </form>
    <table class="table">
        <tr>
            <th>Fecha de la solicitud</th>
            <th>Nit Compañia</th>
            <th>Identidad de solicitante</th>
            <th>Nit entidad financiera</th>
            <th>Monto Solicitado</th>
            <th></th>
        </tr>
        <tr ng-repeat="request in model.requests">
            <td>{{request.dateRequest | date:"MM/dd/yyyy 'at' h:mma"}}</td>
            <td>{{request.companyId}}</td>
            <td>{{request.employedId}}</td>
            <td>{{request.financialId}}</td>
            <td>{{(request.ammount | currency :"$ " : 0)}}</td>
            <td>
                <div class="btn-group">
                    <buton class="btn btn-default" ng-click="model.validate(request)">
                        <span class="glyphicon glyphicon-check"></span>
                    </buton>
                </div>
            </td>
        </tr>
    </table>
</div>